<div class="container" style="margin-left: 20%">
    <div class="row">
        <form class="col-lg-12" [formGroup]="accountForm" (ngSubmit)="onSubmit()" style="margin-top: 1px">
            <div class="row text-center">
                <h3 class="text-center mb-4">تعديل الحساب في الخزنة</h3>
                <div class="custom-control form-group mt-2 col-4">
                    <label for="money">دفع مال</label>
                    <input type="number" class="form-control" formControlName="money" placeholder="أدْخِلْ الأموال" [ngClass]="{
              'is-invalid':
              accountForm.get('money').errors &&
              accountForm.get('money').touched
            }" />
                </div>
                <div class="form-check col-3 mt-4" style="margin: 20px; margin-top: 10px;">
                    <label class="form-check-label my-label-chk" for="isIntial" for="chk-box">
            إعادة تهيئة الآن
          </label>
                    <input id="chk-box" type="checkbox" class="form-control form-check-input" value="true" formControlName="isIntial" />
                </div>
                <div class="custom-control form-group mt-2 col-4">
                    <button type="submit" class="btn btn-success" style="width: 100%; margin-top: 24px;" [disabled]="accountForm.errors && accountForm.touched">
              إضافة
            </button>
                </div>
            </div>
        </form>

        <input type="date" class="form-control text-center" (change)="search($event)" style="width: 60%; margin-top: 40px; margin-right: 20%;">

        <div class="row" style="margin-top: 20px;">
            <div *ngIf="rowData.length > 0">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <ag-grid-angular #agGrid style="width: 700px; height: 400px" class="ag-theme-alpine" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [getRowNodeId]="getRowNodeId" [enableRtl]="true">
                    </ag-grid-angular>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>