::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0f271a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ---------------------------------- Sidebar-------------------------------- */

ul {
  list-style: none;
}

.sidebar {
  width: 250px;
  background-color: #0f271a;
  color: #fff;
  padding-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 9999999;
  animation: new-animation 1s ease-out 0s 1 alternate forwards;
  animation: new-animation-center 1s ease-out 0s 1 alternate forwards;
}

.sidebar > ul > li {
  padding: 0.2rem 1.75rem;
}

.sidebar ul > li > a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.sidebar ul > li > i {
  font-size: 14px;
  color: #6b7280;
}

.has-dropdown {
  margin-top: 1.67%;
}

.has-dropdown .full-div .move-link,
.has-dropdown .special a {
  padding: 5px 15px;
  border-radius: 15px;
  color: #6b7280;
  text-decoration: none;
}

.full-div a {
  display: block;
  cursor: pointer;
  text-align: center;
}

.has-dropdown .special a {
  padding: 5px;
}

.full-div .move-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.has-dropdown .full-div .move-link:hover,
.has-dropdown .special a:hover {
  background-color: #6b7280;
  color: #252636;
}

.sidebar ul .fas.opened {
  transition: 0.3s ease-in-out;
}

.sidebar ul .opened > a:after {
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
}

/* Start dropdown menu */

.sidebar ul .sidebar-dropdown {
  padding-top: 10px;
  display: none;
}

.sidebar ul .sidebar-dropdown.active {
  display: block;
}

.sidebar ul .sidebar-dropdown > li > a {
  font-size: 0.85rem;
  padding: 5px 0;
  display: block;
  position: relative;
}

.sidebar ul .sidebar-dropdown > li > a::after {
  content: "";
  width: 0;
  height: 2px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 25%;
  transition: width 0.3s ease-in;
}

.sidebar ul .sidebar-dropdown > li > a:hover:after {
  width: 50%;
}

/* End dropdown menu */

strong {
  cursor: pointer;
  margin-right: 10px;
}

@keyframes new-animation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes new-animation-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
