<div class="container">
    <div class="item">
        <div class="my-img first-img"></div>
        <div class="info">
            <h3>- khaled elshoiky.</h3>
            <h3>- dotnet developer.</h3>
            <h3 class="email">- E-mail: khaled.freedom2016@gmail.com</h3>
            <h3>- Mobile: 01141625801</h3>
        </div>
    </div>

    <div class="item">
        <div class="my-img sec-img"></div>
        <div class="info">
            <h3>- ragab elsayed.</h3>
            <h3>- mobile developer.</h3>
            <h3 class="email">- E-mail: ragebsaid882@gmail.com</h3>
            <h3>- Mobile: 01003258330</h3>
        </div>
    </div>

    <div class="item">
        <div class="my-img third-img"></div>
        <div class="info">
            <h3>- khaled mohamed.</h3>
            <h3>- front-end developer.</h3>
            <h3 class="email">- E-mail: khaled.mohamed22598@gmail.com</h3>
            <h3>- Mobile: 01097811099</h3>
        </div>
    </div>

    <!-- <div id="DataTable">
        <div id="table_box_bootstrap"></div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Job Title</th>
                    <th>Favorite Color</th>
                    <th>Wars or Trek?</th>
                    <th>Secret Alias</th>
                    <th>Date of Birth</th>
                    <th>Dream Vacation City</th>
                    <th>GPA</th>
                    <th>Arbitrary Data</th>
                </tr>
            </thead>
            <tbody class="scroll-pane">
                <tr>
                    <td>James</td>
                    <td>Matman</td>
                    <td>Chief Sandwich Eater</td>
                    <td>Lettuce Green</td>
                    <td>Trek</td>
                    <td>Digby Green</td>
                    <td>January 13, 1979</td>
                    <td>Gotham City</td>
                    <td>3.1</td>
                    <td>RBX-12</td>
                </tr>
                <tr>
                    <td>The</td>
                    <td>Tick</td>
                    <td>Crimefighter Sorta</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>John Smith</td>
                    <td>July 19, 1968</td>
                    <td>Athens</td>
                    <td>N/A</td>
                    <td>Edlund, Ben (July 1996).</td>
                </tr>
                <tr>
                    <td>Jokey</td>
                    <td>Smurf</td>
                    <td>Giving Exploding Presents</td>
                    <td>Smurflow</td>
                    <td>Smurf</td>
                    <td>Smurflane Smurfmutt</td>
                    <td>Smurfuary Smurfteenth, 1945</td>
                    <td>New Smurf City</td>
                    <td>4.Smurf</td>
                    <td>One</td>
                </tr>
                <tr>
                    <td>Cindy</td>
                    <td>Beyler</td>
                    <td>Sales Representative</td>
                    <td>Red</td>
                    <td>Wars</td>
                    <td>Lori Quivey</td>
                    <td>July 5, 1956</td>
                    <td>Paris</td>
                    <td>3.4</td>
                    <td>3451</td>
                </tr>
                <tr>
                    <td>Captain</td>
                    <td>Cool</td>
                    <td>Tree Crusher</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>Steve 42nd</td>
                    <td>December 13, 1982</td>
                    <td>Las Vegas</td>
                    <td>1.9</td>
                    <td>Under the couch</td>
                </tr>

                <tr>
                    <td>James</td>
                    <td>Matman</td>
                    <td>Chief Sandwich Eater</td>
                    <td>Lettuce Green</td>
                    <td>Trek</td>
                    <td>Digby Green</td>
                    <td>January 13, 1979</td>
                    <td>Gotham City</td>
                    <td>3.1</td>
                    <td>RBX-12</td>
                </tr>
                <tr>
                    <td>The</td>
                    <td>Tick</td>
                    <td>Crimefighter Sorta</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>John Smith</td>
                    <td>July 19, 1968</td>
                    <td>Athens</td>
                    <td>N/A</td>
                    <td>Edlund, Ben (July 1996).</td>
                </tr>
                <tr>
                    <td>Jokey</td>
                    <td>Smurf</td>
                    <td>Giving Exploding Presents</td>
                    <td>Smurflow</td>
                    <td>Smurf</td>
                    <td>Smurflane Smurfmutt</td>
                    <td>Smurfuary Smurfteenth, 1945</td>
                    <td>New Smurf City</td>
                    <td>4.Smurf</td>
                    <td>One</td>
                </tr>
                <tr>
                    <td>Cindy</td>
                    <td>Beyler</td>
                    <td>Sales Representative</td>
                    <td>Red</td>
                    <td>Wars</td>
                    <td>Lori Quivey</td>
                    <td>July 5, 1956</td>
                    <td>Paris</td>
                    <td>3.4</td>
                    <td>3451</td>
                </tr>
                <tr>
                    <td>Captain</td>
                    <td>Cool</td>
                    <td>Tree Crusher</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>Steve 42nd</td>
                    <td>December 13, 1982</td>
                    <td>Las Vegas</td>
                    <td>1.9</td>
                    <td>Under the couch</td>
                </tr>
                <tr>
                    <td>James</td>
                    <td>Matman</td>
                    <td>Chief Sandwich Eater</td>
                    <td>Lettuce Green</td>
                    <td>Trek</td>
                    <td>Digby Green</td>
                    <td>January 13, 1979</td>
                    <td>Gotham City</td>
                    <td>3.1</td>
                    <td>RBX-12</td>
                </tr>
                <tr>
                    <td>The</td>
                    <td>Tick</td>
                    <td>Crimefighter Sorta</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>John Smith</td>
                    <td>July 19, 1968</td>
                    <td>Athens</td>
                    <td>N/A</td>
                    <td>Edlund, Ben (July 1996).</td>
                </tr>
                <tr>
                    <td>Jokey</td>
                    <td>Smurf</td>
                    <td>Giving Exploding Presents</td>
                    <td>Smurflow</td>
                    <td>Smurf</td>
                    <td>Smurflane Smurfmutt</td>
                    <td>Smurfuary Smurfteenth, 1945</td>
                    <td>New Smurf City</td>
                    <td>4.Smurf</td>
                    <td>One</td>
                </tr>
                <tr>
                    <td>Cindy</td>
                    <td>Beyler</td>
                    <td>Sales Representative</td>
                    <td>Red</td>
                    <td>Wars</td>
                    <td>Lori Quivey</td>
                    <td>July 5, 1956</td>
                    <td>Paris</td>
                    <td>3.4</td>
                    <td>3451</td>
                </tr>
                <tr>
                    <td>Captain</td>
                    <td>Cool</td>
                    <td>Tree Crusher</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>Steve 42nd</td>
                    <td>December 13, 1982</td>
                    <td>Las Vegas</td>
                    <td>1.9</td>
                    <td>Under the couch</td>
                </tr>
                <tr>
                    <td>James</td>
                    <td>Matman</td>
                    <td>Chief Sandwich Eater</td>
                    <td>Lettuce Green</td>
                    <td>Trek</td>
                    <td>Digby Green</td>
                    <td>January 13, 1979</td>
                    <td>Gotham City</td>
                    <td>3.1</td>
                    <td>RBX-12</td>
                </tr>
                <tr>
                    <td>The</td>
                    <td>Tick</td>
                    <td>Crimefighter Sorta</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>John Smith</td>
                    <td>July 19, 1968</td>
                    <td>Athens</td>
                    <td>N/A</td>
                    <td>Edlund, Ben (July 1996).</td>
                </tr>
                <tr>
                    <td>Jokey</td>
                    <td>Smurf</td>
                    <td>Giving Exploding Presents</td>
                    <td>Smurflow</td>
                    <td>Smurf</td>
                    <td>Smurflane Smurfmutt</td>
                    <td>Smurfuary Smurfteenth, 1945</td>
                    <td>New Smurf City</td>
                    <td>4.Smurf</td>
                    <td>One</td>
                </tr>
                <tr>
                    <td>Cindy</td>
                    <td>Beyler</td>
                    <td>Sales Representative</td>
                    <td>Red</td>
                    <td>Wars</td>
                    <td>Lori Quivey</td>
                    <td>July 5, 1956</td>
                    <td>Paris</td>
                    <td>3.4</td>
                    <td>3451</td>
                </tr>
                <tr>
                    <td>Captain</td>
                    <td>Cool</td>
                    <td>Tree Crusher</td>
                    <td>Blue</td>
                    <td>Wars</td>
                    <td>Steve 42nd</td>
                    <td>December 13, 1982</td>
                    <td>Las Vegas</td>
                    <td>1.9</td>
                    <td>Under the couch</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

<!-- -------------------------------------------------------------------------------------------------- -->

    <script>
        var box = paginator({
            table: document.getElementById("DataTable").getElementsByTagName("table")[0],
            box_mode: "list",
        });
        box.className = "box";
        document.getElementById("table_box_bootstrap").appendChild(box);


        /*****************************************************
         * Paginator Function                                *
         *****************************************************
         * config : {
         *     get_rows : function used to select rows to do pagination on
         *         If no function is provided, checks for a config.table element and looks for rows in there to page
         *
         *     box : Empty element that will have page buttons added to it
         *         If no config.box is provided, but a config.table is, then the page buttons will be added using the table
         *
         *     table : table element to be paginated
         *         not required if a get_rows function is provided
         *
         *     rows_per_page : number of rows to display per page
         *         default number is 10
         *
         *     page: page to display
         *         default page is 1
         *
         *     box_mode: "list", "buttons", or function. determines how the page number buttons are built.
         *         "list" builds the page index in list format and adds class "pagination" to the ul element. Meant for use with bootstrap
         *         "buttons" builds the page index out of buttons
         *         if this field is a function, it will be passed the config object as its ownly param and assumed to build the page index buttons
         *
         *     page_options: false or [{text: , value: }, ... ] used to set what the dropdown menu options are available, resets rows_per_page value
         *         false prevents the options from being displayed
         *         [{text: , value: }, ... ] allows you to customize what values can be chosen, a value of 0 will display all the table's rows.
         *         the default setup is
         *           [
         *               { value: 5,  text: '5'   },
         *               { value: 10, text: '10'  },
         *               { value: 20, text: '20'  },
         *               { value: 50, text: '50'  },
         *               { value: 100,text: '100' },
         *               { value: 0,  text: 'All' }
         *           ]
         *
         *      active_class: set the class for page buttons to have when active.
         *          defaults to "active"
         *
         *     tail_call: function to be called after paginator is done
         * }
         */
        function paginator(config) {
            // throw errors if insufficient parameters were given
            if (typeof config != "object")
                throw "Paginator was expecting a config object!";
            if (typeof config.get_rows != "function" && !(config.table instanceof Element))
                throw "Paginator was expecting a table or get_row function!";

            // get/make an element for storing the page numbers in
            var box;
            if (!(config.box instanceof Element)) {
                config.box = document.createElement("div");
            }
            box = config.box;

            // get/make function for getting table's rows
            if (typeof config.get_rows != "function") {
                config.get_rows = function() {
                    var table = config.table
                    var tbody = table.getElementsByTagName("tbody")[0] || table;

                    // get all the possible rows for paging
                    // exclude any rows that are just headers or empty
                    children = tbody.children;
                    var trs = [];
                    for (var i = 0; i < children.length; i++) {
                        if (children[i].nodeType = "tr") {
                            if (children[i].getElementsByTagName("td").length > 0) {
                                trs.push(children[i]);
                            }
                        }
                    }

                    return trs;
                }
            }
            var get_rows = config.get_rows;
            var trs = get_rows();

            // get/set rows per page
            if (typeof config.rows_per_page == "undefined") {
                var selects = box.getElementsByTagName("select");
                if (typeof selects != "undefined" && (selects.length > 0 && typeof selects[0].selectedIndex != "undefined")) {
                    config.rows_per_page = selects[0].options[selects[0].selectedIndex].value;
                } else {
                    config.rows_per_page = 10;
                }
            }
            var rows_per_page = config.rows_per_page;

            // get/set current page
            if (typeof config.page == "undefined") {
                config.page = 1;
            }
            var page = config.page;

            // get page count
            var pages = (rows_per_page > 0) ? Math.ceil(trs.length / rows_per_page) : 1;

            // check that page and page count are sensible values
            if (pages < 1) {
                pages = 1;
            }
            if (page > pages) {
                page = pages;
            }
            if (page < 1) {
                page = 1;
            }
            config.page = page;

            // hide rows not on current page and show the rows that are
            for (var i = 0; i < trs.length; i++) {
                if (typeof trs[i]["data-display"] == "undefined") {
                    trs[i]["data-display"] = trs[i].style.display || "";
                }
                if (rows_per_page > 0) {
                    if (i < page * rows_per_page && i >= (page - 1) * rows_per_page) {
                        trs[i].style.display = trs[i]["data-display"];
                    } else {
                        trs[i].style.display = "none";
                    }
                } else {
                    trs[i].style.display = trs[i]["data-display"];
                }
            }

            // page button maker functions
            config.active_class = config.active_class || "active";
            if (typeof config.box_mode != "function" && config.box_mode != "list" && config.box_mode != "buttons") {
                config.box_mode = "button";
            }
            if (typeof config.box_mode == "function") {
                config.box_mode(config);
            } else {
                var make_button;
                if (config.box_mode == "list") {
                    make_button = function(symbol, index, config, disabled, active) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        a.href = "#";
                        a.innerHTML = symbol;
                        a.addEventListener("click", function(event) {
                            event.preventDefault();
                            this.parentNode.click();
                            return false;
                        }, false);
                        li.appendChild(a);

                        var classes = [];
                        if (disabled) {
                            classes.push("disabled");
                        }
                        if (active) {
                            classes.push(config.active_class);
                        }
                        li.className = classes.join(" ");
                        li.addEventListener("click", function() {
                            if (this.className.split(" ").indexOf("disabled") == -1) {
                                config.page = index;
                                paginator(config);
                            }
                        }, false);
                        return li;
                    }
                } else {
                    make_button = function(symbol, index, config, disabled, active) {
                        var button = document.createElement("button");
                        button.innerHTML = symbol;
                        button.addEventListener("click", function(event) {
                            event.preventDefault();
                            if (this.disabled != true) {
                                config.page = index;
                                paginator(config);
                            }
                            return false;
                        }, false);
                        if (disabled) {
                            button.disabled = true;
                        }
                        if (active) {
                            button.className = config.active_class;
                        }
                        return button;
                    }
                }

                // make page button collection
                var page_box = document.createElement(config.box_mode == "list" ? "ul" : "div");
                if (config.box_mode == "list") {
                    page_box.className = "pagination";
                }

                var left = make_button("&laquo;", (page > 1 ? page - 1 : 1), config, (page == 1), false);
                page_box.appendChild(left);

                for (var i = 1; i <= pages; i++) {
                    var li = make_button(i, i, config, false, (page == i));
                    page_box.appendChild(li);
                }

                var right = make_button("&raquo;", (pages > page ? page + 1 : page), config, (page == pages), false);
                page_box.appendChild(right);
                if (box.childNodes.length) {
                    while (box.childNodes.length > 1) {
                        box.removeChild(box.childNodes[0]);
                    }
                    box.replaceChild(page_box, box.childNodes[0]);
                } else {
                    box.appendChild(page_box);
                }
            }

            var dvRecords = document.createElement("div");
            dvRecords.className = "dvrecords";
            box.appendChild(dvRecords);

            // make rows per page selector
            if (!(typeof config.page_options == "boolean" && !config.page_options)) {
                if (typeof config.page_options == "undefined") {
                    config.page_options = [{
                        value: 5,
                        text: '5'
                    }, {
                        value: 10,
                        text: '10'
                    }, {
                        value: 20,
                        text: '20'
                    }, {
                        value: 50,
                        text: '50'
                    }, {
                        value: 100,
                        text: '100'
                    }, {
                        value: 0,
                        text: 'All'
                    }];
                }
                var options = config.page_options;
                var select = document.createElement("select");
                select.className = "records";
                for (var i = 0; i < options.length; i++) {
                    var o = document.createElement("option");
                    o.value = options[i].value;
                    o.text = options[i].text;
                    select.appendChild(o);
                }
                select.value = rows_per_page;
                select.addEventListener("change", function() {
                    config.rows_per_page = this.value;
                    paginator(config);
                }, false);
                dvRecords.appendChild(select);
            }

            // status message
            var stat = document.createElement("span");
            stat.className = "stats";
            stat.innerHTML = "On page " + page + " of " + pages +
                ", showing rows " + (((page - 1) * rows_per_page) + 1) +
                " to " + (trs.length < page * rows_per_page || rows_per_page == 0 ? trs.length : page * rows_per_page) +
                " of " + trs.length;

            dvRecords.appendChild(stat);

            // run tail function
            if (typeof config.tail_call == "function") {
                config.tail_call(config);
            }
            return box;
        }


        /**
         * jQuery.fn.sortElements
         * --------------
         * @author James Padolsey (http://james.padolsey.com)
         * @version 0.11
         * @updated 18-MAR-2010
         * --------------
         * @param Function comparator:
         *   Exactly the same behaviour as [1,2,3].sort(comparator)
         *   
         * @param Function getSortable
         *   A function that should return the element that is
         *   to be sorted. The comparator will run on the
         *   current collection, but you may want the actual
         *   resulting sort to occur on a parent or another
         *   associated element.
         *   
         *   E.g. $('td').sortElements(comparator, function(){
         *      return this.parentNode; 
         *   })
         *   
         *   The <td>'s parent (<tr>) will be sorted instead
         *   of the <td> itself.
         */
        jQuery.fn.sortElements = (function() {

            var sort = [].sort;

            return function(comparator, getSortable) {

                getSortable = getSortable || function() {
                    return this;
                };

                var placements = this.map(function() {

                    var sortElement = getSortable.call(this),
                        parentNode = sortElement.parentNode,

                        // Since the element itself will change position, we have
                        // to have some way of storing it's original position in
                        // the DOM. The easiest way is to have a 'flag' node:
                        nextSibling = parentNode.insertBefore(
                            document.createTextNode(''),
                            sortElement.nextSibling
                        );

                    return function() {

                        if (parentNode === this) {
                            throw new Error(
                                "You can't sort elements if any one is a descendant of another."
                            );
                        }

                        // Insert before flag:
                        parentNode.insertBefore(this, nextSibling);
                        // Remove flag:
                        parentNode.removeChild(nextSibling);

                    };

                });

                return sort.call(this, comparator).each(function(i) {
                    placements[i].call(getSortable.call(this));
                });

            };

        })();

        var table = $('table');

        $('th')
            .wrapInner('<span title="sort this column"/>')
            .each(function() {

                var th = $(this),
                    thIndex = th.index(),
                    inverse = false;

                th.click(function() {

                    table.find('td').filter(function() {

                        return $(this).index() === thIndex;

                    }).sortElements(function(a, b) {

                        return $.text([a]) > $.text([b]) ?
                            inverse ? -1 : 1 :
                            inverse ? 1 : -1;

                    }, function() {

                        // parentNode is the element we want to move
                        return this.parentNode;

                    });

                    inverse = !inverse;

                });

            });

        f
    </script> -->