<body>
    <div class="container">
        <div class="item">
            <div class="my-img first-img"></div>
            <div class="info">
                <h3 class="dev-name">khaled elshoiky.</h3>
                <p class="job-person">dotnet developer.</p>
                <p class="email">khaled.freedom2016@gmail.com</p>
                <p class="mob-number">01141625801</p>
            </div>
        </div>

        <div class="item">
            <div class="my-img sec-img"></div>
            <div class="info">
                <h3 class="dev-name">ragab elsayed.</h3>
                <p class="job-person">mobile developer.</p>
                <p class="email">ragebsaid882@gmail.com</p>
                <p class="mob-number">01003258330</p>
            </div>
        </div>

        <div class="item">
            <div class="my-img third-img"></div>
            <div class="info">
                <h3 class="dev-name">khaled mohamed.</h3>
                <p class="job-person">front-end developer.</p>
                <p class="email">k.mohamed.11.98@gmail.com</p>
                <p class="mob-number">01097811099</p>
            </div>
        </div>

    </div>
</body>