<div class="row">

  <div class="col-md-2"></div>

  <div class="col-md-8">
      <div class="row">
          <div id="myModal" class="modal">
              <div class="modal-content">

                  <i class="fas icon fa-times" (click)="setopenDetailStockBill(false)"></i>

                  <div class="col-lg-12" style="margin-top: 1px;">

                      <h2 class="text-center" style="margin-top: 1%; margin-bottom: 5%;" *ngIf="stockBill.type === 1">
                          مبيعات</h2>
                      <h2 class="text-center" style="margin-top: 1%; margin-bottom: 5%;" *ngIf="stockBill.type === 0">
                          مُشتريات</h2>

                      <div class="row text-center">
                        <div class="custom-control form-group mt-2 col-4">
                            <label for="stockId">اسم العامل</label>
                            <input type="text" id="stockId" class="col-2 form-control mt-2 text-center"
                                style="width: 70%; margin-left: auto; margin-right: auto;" [value]="stockBill.id"
                                readonly>
                        </div>
                          <div class="custom-control form-group mt-2 col-4">
                              <label for="id">الرقم الكودى </label>
                              <input type="text" id="id" class="col-2 form-control mt-2 text-center"
                                  style="width: 70%; margin-left: auto; margin-right: auto;" [value]="stockBill.id"
                                  readonly>
                          </div>              
                          <!-- <div class="custom-control form-group mt-2 col-4">
                              <label for="clientName">إسم العميل/المُورد</label>
                              <input type="text" id="clientName" class="col-2 form-control mt-2 text-center"
                                  style="width: 70%; margin-left: auto; margin-right: auto;" [value] = "stockBill.clientName" readonly>
                          </div> -->

                      </div>

                      <div>
                          <table id='itemTable' class="mt-10 col-6">

                              <thead>
                                  <tr>
                                      <th>الصنف</th>
                                      <th>الوحده</th>
                                      <th>الكمية</th>
                                  </tr>
                              </thead>

                              <tbody>

                                  <tr *ngFor="let stockItem of stockBill.stockItems">

                                      <td>
                                          <select id="items"
                                              style="text-align: center; margin: auto; width: 180px; "
                                              class="form-control custom-select myInput text-center">
                                              <option disabled selected>{{stockItem?.itemNavigation.name}}</option>
                                          </select>
                                      </td>
                                      <td>
                                        <input type="text" id="unit" class="form-control myInput text-center"
                                            style="width:120px;" [value]="stockItem?.itemNavigation.unitNavigation.name" readonly>
                                        </td>
                                      <td>
                                          <input type="number" id="quentity" class="form-control myInput text-center"
                                              style="width:120px;" [value]="stockItem?.quentity" readonly>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>

                        <button class="btn btn-success col-3" (click)="delete(stockBill.id)">حذف</button>
                          
                        <button type="button" (click)="setopenDetailStockBill(false)" class="btn btn-danger m-2 col-3" style="float: left;">غلق</button>
  
                    </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-2"></div>
</div>



<!-- <app-add-expenses *ngIf="addPaidOpen"  [bill]="bill" (openEvent)="setAddPaidOpen($event)" (billEvent)="setPaidExpenseBill($event)"></app-add-expenses> -->