<div class="container-fluid">
    <div class="row" *ngIf="user">
        <div class="navbar">

            <a (click)="setOpen(true)">
                <i class="fas icon fa-sliders-h" *ngIf="!open"></i>
            </a>

            <input type="number" class="form-control btn-money" [value]="authService.currentUserValue.money" readonly>

            <div class="dropdown">
                <img src="../assets/avatar-person.png" alt="Avatar" class="avatar">

                <div class="dropdown-content">
                    <div class="arrow-down"></div>
                    <a [routerLink]="['edituser']" routerLinkActive="router-link-active">تعديل البيانات الشخصية</a>
                    <a [routerLink]="['shop']" routerLinkActive="router-link-active">بيانات المحل</a>
                    <a [routerLink]="['account']" routerLinkActive="router-link-active">تعديل الحساب</a>
                    <hr>
                    <a [routerLink]="['programdetail']" routerLinkActive="router-link-active" style="padding: 0;">تواصل مع المُطوِّرين</a>
                    <hr>
                    <a class="log-out" (click)='logout()'>تسجيل الخروج</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2" *ngIf="open">
            <app-nav></app-nav>
        </div>

        <div class="col-md-10" (click)="setOpen(false)">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>