<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">

    <div id="myModal" class="modal">

      <div class="modal-content">

        <i class="fas icon fa-times" (click)="setOpenEvent(false)"></i>
        <h2 class="text-center text-align:right">تعديل بيانات الوِحدة</h2>

        <form [formGroup]="editUnitForm" (ngSubmit)="update()">

          <div class="form-group mt-2 col-12">
            <label for="name">إسم الوِحدة</label>
            <input type="text" class="form-control input-new-item" formControlName="name" placeholder="إسم الوِحدة" />
          </div>

          <div class="form-group text-center buttons-comp">
            <button type="button" class="btn delete-btn" (click)="delete()">حذف</button>
            <button type="submit" class="btn btn-success">تعديل</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>
