* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

*:focus {
  outline: 0;
  border: 0;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 500px;
  padding: 10px;
  text-align: center;
  background-color: rgba(216, 236, 247, 0.041);
  border-radius: 10px;
  animation: swing-in-back 1s ease 0s 1 alternate forwards;
}

.container form {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  margin-top: 10%;
  text-align: center;
}

h2 {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-bottom: 40px;
}

select:valid,
input:valid {
  flex-basis: 100%;
  flex-grow: 1;
  position: relative;
  margin: 0 auto 15px;
  padding: 10px 15px;
  text-align: center;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #43a047;
  outline: 0;
  caret-color: #43a047;
  color: #2c682f;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}

input[type="date"] {
  text-align: end;
}

input::placeholder,
select::placeholder {
  font-size: 14px;
  text-align: center;
}

label {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -5px;
}

.new-button {
  background-color: #43a047;
  color: #fff;
  padding: 5px 15px;
  justify-self: center;
}

.ag-theme-alpine {
  width: 100%;
  height: 300px;
}
