* {
  direction: rtl;
  box-sizing: border-box;
}

*:focus {
  border: none;
  outline: none;
}

.container {
  width: 55%;
  background-color: transparent;
}

h2 {
  font-size: 25px;
  margin-top: 8%;
  margin-bottom: 5%;
}

.ang-table {
  width: 100% !important;
  height: 430px;
  animation: animation-first 0.8s ease 0s 1 alternate forwards;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
