* {
    direction: rtl;
    box-sizing: border-box;
}

.ag-theme-alpine {
    animation: animation-first 0.8s ease 0s 1 alternate forwards;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

*:focus {
    border: none;
    outline: none;
}

h2 {
    font-size: 25px;
    margin-top: 8%;
    margin-bottom: 5%;
}