<div class="container slideInRight" style="margin-top: 50px;">

    <button class="btn btn-success col-6" (click)="show(false, btn1, btn2)" #btn1>تغير البيانات</button>
    <button class="btn btn-success col-6" style="opacity: .5;" (click)="show(true, btn1, btn2)" #btn2>تغير كلمة المُرور</button>

    <div class="row h-100 justify-content-center mt-2 align-items-center">
        <div class="col-12">

            <form [formGroup]="editUserform" (ngSubmit)="update()" class="form-group" *ngIf="!open">
                <h3 class="text-center justify-center">تعديل بياناتك</h3>

                <div class="form-group mt-1 col-4">
                    <label for="user-name">إسمُ المُعرَّف:</label>
                    <input id="user-name" type="text" class="form-control item justify-content-center" formControlName="username" placeholder="إسم المُعرَّف" [ngClass]="{'is-invalid': f.username.errors && f.username.touched}">

                    <div *ngIf="f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">من فضلك أدخِل إسم المُستخدم *</div>
                        <div *ngIf="f.username.errors.minlength">أقل عدد حُروف هو 4 فقط *</div>
                        <div *ngIf="f.username.errors.maxlength">أقصى عدد حُروف هو 8 فقط *</div>
                    </div>
                </div>

                <div class="form-group mt-1 col-4">
                    <label for="known-as">إسمُ الشُهرة:</label>
                    <input id="known-as" class="form-control item" type="text" [ngClass]="{'is-invalid': f.knownAs.errors && f.knownAs.touched}" formControlName="knownAs" placeholder="إسم الشُهرة">

                    <div class="invalid-feedback" *ngIf="f.knownAs.errors">
                        <div *ngIf="f.knownAs.errors.required" style="width: auto;" (click)="f.knownAs.reset()">من فضلك أدخِل إسم الشُهرة</div>
                    </div>
                </div>

                <div class="form-group mt-1 col-4">
                    <label for="city">إسمُ المدينة:</label>
                    <input id="city" class="form-control item" type="tel" [ngClass]="{'is-invalid': f.city.errors && f.city.touched}" formControlName="city" placeholder="إسم المدينة">

                    <div class="invalid-feedback" *ngIf="f.city.errors">
                        <div *ngIf="f.city.errors.required" (click)="f.city.reset()">من فضلِك أدخِل المدينة</div>
                    </div>
                </div>

                <div class="form-group mt-1 col-4">
                    <label for="input-2">رقم الهاتف:</label>
                    <input id="input-2" type="tel" class="form-control item justify-content-center" placeholder="أدخِل رقم الهاتف" minlength="1" formControlName="telephone" [ngClass]="{ 'is-invalid': f.telephone.errors && f.telephone.touched }" />
                </div>
                <div *ngIf="f.telephone.touched && f.telephone.errors">
                    <div class="invalid-feedback" *ngIf="f.telephone.errors.required" (click)="f.telephone.reset()">
                        قُمْ بإدخال اسم المحل رجاءً
                    </div>
                    <div class="invalid-feedback" *ngIf="f.telephone.errors.maxlength || f.telephone.errors.minlength" (click)="f.telephone.reset()">
                        الإسم الذي أدخلته غيرُ صحيح
                    </div>
                    <div class="invalid-feedback" *ngIf="f.telephone.errors.pattern" (click)="f.telephone.reset()">
                        قُمْ بإدخال رقم المحل صحيح
                    </div>
                </div>
                <div class="form-group mt-1 col-4">
                    <label for="dateOfBirth">تاريخ الميلاد:</label>
                    <input id="dateOfBirth" type="text" class="form-control item justify-content-center" formControlName="dateOfBirth" placeholder="تاريخ الميلاد" [ngClass]="{'is-invalid': f.dateOfBirth.errors && f.dateOfBirth.touched}" (click)="dateString=dateOfBirth.value;dateOfBirth.type= 'date';"
                        (blur)="dateOfBirth.type='text';dateOfBirth.value=dateString;" (change)="dateString=dateOfBirth.value;" (focus)="dateString=dateOfBirth.value;dateOfBirth.type= 'date';" #dateOfBirth>

                    <div *ngIf="f.dateOfBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.dateOfBirth.errors.required">من فضلك أدخِل إسم المُستخدم *</div>
                    </div>
                </div>
                <div class="form-group col text-center" style="margin-top: 5px;">
                    <button type="submit" class="btn btn-success" [disabled]="editUserform.invalid || !editUserform.touched">تعديل البيانات الآن</button>
                </div>

            </form>

            <form [formGroup]="formchangePassword" (ngSubmit)="changePassword()" class="form-group" *ngIf="open">
                <h3 class="text-center justify-center">تعديل كلمة المُرور</h3>

                <div class="form-group mt-2 col-4">
                    <!-- <label for="old-pass">كلمة المُرور السابقة:</label> -->
                    <input id="old-pass" type="password" class="form-control item" formControlName="password" placeholder="كلمة المُرور السابقة" [ngClass]="{'is-invalid': fp.password.errors && fp.password.touched}">

                    <div *ngIf="fp.password.errors" class="invalid-feedback">
                        <div *ngIf="fp.password.errors.required">أدخِل كلمة المُرور من فضلِك</div>
                    </div>

                </div>

                <div class="form-group mt-2 col-4">
                    <!-- <label for="new-pass">كلمة المُرور الجديدة:</label> -->
                    <input id="new-pass" type="password" class="form-control item" formControlName="newPassword" placeholder="كلمة المُرور الجديدة" [ngClass]="{'is-invalid': fp.newPassword.errors && fp.newPassword.touched}">

                    <div *ngIf="fp.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="fp.newPassword.errors.required"> من فضلِك أدخِل كلمة المُرور الجديدة</div>
                    </div>
                    <div *ngIf="fp.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="fp.newPassword.errors.minlength">عدد خانات كلمة المُرور 4-12</div>
                    </div>
                </div>

                <div class="form-group mt-2 col-4">
                    <!-- <label for="confirm-new-pass">تأكيد كلمة المُرور الجديدة:</label> -->
                    <input id="confirm-new-pass" type="password" class="form-control item" formControlName="passwordConfirm" placeholder="تأكيد كلمة المُرور الجديدة" [ngClass]="{'is-invalid': fp.passwordConfirm.errors && fp.passwordConfirm.touched || formchangePassword.hasError('mismatch')}">

                    <div *ngIf="fp.passwordConfirm.errors" class="invalid-feedback">
                        <div *ngIf="fp.passwordConfirm.errors.required">من فضلِك أدخِل كلمة المُرور</div>
                        <div *ngIf="fp.passwordConfirm.errors.mustMatch">كلمة المُرور ليست مُتطابقة</div>
                    </div>
                </div>

                <div class="col text-center">
                    <button type="submit" class="btn btn-success me-2" style="margin-top: 5px;" [disabled]="formchangePassword.invalid">تغيير كلمة المُرور</button>
                </div>

            </form>
        </div>
    </div>
</div>