* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

*:focus {
  outline: 0;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  // overflow: hidden;
  margin: auto;
  /* Enable scroll if needed */
  background-color: transparent;
}

/* Modal Content/Box */

.modal .modal-content {
  background-color: #0f271a;
  padding: 20px;
  border: 1px solid #0f271a;
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 4%;
}

.modal-content h2 {
  color: rgb(184, 184, 184);
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
}

.modal-content .icon {
  color: rgb(184, 184, 184);
  font-size: 18px;
  padding: 10px;
  position: fixed;
  width: 40px;
}

i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form-group {
  display: flex;
  align-items: baseline;
}

.form-group label {
  color: rgb(184, 184, 184);
  margin-bottom: 10px;
}

.form-group input,
.input-new-item,
select option:disabled {
  flex-basis: 50%;
  flex-grow: 1;
  position: relative;
  margin: 0 auto 15px;
  text-align: center;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #43a047;
  outline: 0;
  caret-color: #43a047;
  color: #2c682f;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}

.input-new-item:valid,
.input-new-item:focus,
.input-new-item:active,
.input-new-item:checked,
.input-new-item:disabled,
.input-new-item:read-only,
select option:disabled {
  padding: 5px 15px;
}

tbody tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.btn {
  font-weight: bold;
}

.closing-btn {
  background-color: rgb(224, 91, 91);
  color: rgb(255, 255, 255);
}

.btn-danger {
  margin-right: 10px;
}

label {
  text-indent: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background-color: Transparent;
}

.new-button {
  background-color: #198754;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.container {
  width: 30%;
  padding: 60px;
  background-color: #cecece8f;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 20px;
  margin-top: 5%;
  animation: swing-in-back 1s ease 0s 1 alternate forwards;
}

label {
  font-size: 17px;
  font-weight: bold;
}

.addIcon {
  font-size: 25px;
  margin-top: 55px;
  color: rgb(94, 209, 94);
  background-color: none;
}

.removeIcon {
  font-size: 25px;
  margin-top: 5px;
  color: rgb(252, 111, 111);
}

.addIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.removeIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#itemForm {
  margin-top: 100px;
}

.error {
  color: red;
  margin: 2px;
  font-size: 15px;
}

.error:hover {
  cursor: pointer;
  opacity: 0.7;
}

.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 20px;
  border: none;
  outline: none;
}

th,
td {
  text-align: center;
  padding: 5px;
}

th {
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

.btn {
  width: 48%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.new-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
