<div id="myModal" class="modal">
  <div class="modal-content">

    <i class="fas icon fa-times" (click)="setopenDetailBill(false)"></i>

    <h2 *ngIf="bill.type === 1">مبيعات</h2>
    <h2 *ngIf="bill.type === 0">مُشتريات</h2>

    <div class="custom-control form-group">
      <label for="clientName">إسم العميل/المُورد</label>
      <input type="text" id="clientName" class="form-control input-new-item" [value]="bill.clientName" readonly>
    </div>

    <div class="new-sec">
      <div class="custom-control form-group">
        <label for="cost">الإجمالي</label>
        <input type="number" id="cost" class="form-control input-new-item" [value]="bill.cost" readonly>
      </div>

      <div class="custom-control form-group">
        <label for="paid">المدفوع</label>
        <input type="number" id="paid" class="form-control input-new-item" [value]="bill.paid" readonly>
      </div>

      <i class="fas fa-plus addIcon" (click)="setAddPaidOpen(true)"></i>
    </div>

    <div>
      <table id='itemTable'>

        <thead>
          <tr>
            <th></th>
            <th>الوحدة</th>
            <th>الكمية</th>
            <th>السعر</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let billItem of bill.billItems">

            <td>
              <label for="">الصنف</label>
              <select id="items" class="form-control">
                <option disabled selected>{{billItem?.itemNavigation.name}}</option>
              </select>
            </td>

            <td>
              <input type="text" id="unit" class="form-control input-new-item"
                [value]="billItem?.itemNavigation.unitNavigation.name" readonly>
            </td>

            <td>
              <input type="number" id="quentity" class="form-control input-new-item" [value]="billItem?.quentity"
                readonly>
            </td>

            <td>
              <input type="number" id="price" class="form-control input-new-item" [value]="billItem?.price" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="my-buttons">
      <button class="btn btn-success col-3" (click)="delete(bill.id)">حذف</button>
      <button type="button" (click)="setopenDetailBill(false)" class="btn btn-danger">غلق</button>
    </div>

  </div>

</div>



<app-add-expenses *ngIf="addPaidOpen" [bill]="bill" (openEvent)="setAddPaidOpen($event)"
  (billEvent)="setPaidExpenseBill($event)"></app-add-expenses>
