<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <div id="myModal" class="modal">

            <div class="modal-content">

                <i class="fas icon fa-times" (click)="setOpenDisplayBarren(false)"></i>

                <h2 class="text-center">عرض معلومات عن الجرد</h2>

                <div>
                    <hr/>

                    <div class="form-group col-10">
                        <label for="earn">المبيعات:</label>
                        <input id="earn" type="text" class="form-control myInput" [value]="infoBarren.earn" readonly/>
                    </div>

                    <div class="form-group mt-2 col-10">
                        <label for="cost">المشتريات:</label>
                        <input id="cost" class="form-control myInput" type="text" [value]="infoBarren.cost" readonly/>
                    </div>

                    <div class="form-group mt-2 col-10">
                        <label for="extraExpenses">المصاريف الإضافية</label>
                        <input id="extraExpenses" class="form-control myInput" type="text" [value]="infoBarren.extraExpenses" readonly/>
                    </div>

                    <div class="form-group mt-2 col-10">
                        <label for="net-earn">صافي المكسب :</label>
                        <input id="net-earn" class="form-control myInput" type="text" [value]="infoBarren.earn - (infoBarren.cost + infoBarren.extraExpenses)" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>

</div>