<div class="container" style="margin-left: 20%">
  <div class="row">
      <form class="col-lg-12" [formGroup]="stockItemForm" (ngSubmit)="onSubmit()" style="margin-top: 1px">
          <div class="row text-center">
              <h3 class="text-center mb-5">حركة المخازن</h3>
              <div class="custom-control form-group mt-2 col-4">
                  <label for="dateOfStockBill">تاريخ الفاتورة</label>
                  <input type="date" id="dateOfStockBill" class="col-2 form-control mt-2 text-center" style="width: 80%; margin-left: auto; margin-right: auto" formControlName="dateOfStockBill" [ngClass]="{
            'is-invalid':
            dateOfStockBill.errors &&
            dateOfStockBill.touched
          }" />
              </div>
              <div class="custom-control form-group mt-2 col-4">
                  <label for="billStockType">نوع فاتورة المخزن</label>
                  <select class="col-2 form-control mt-2 text-center" style="width: 70%; margin-left: auto; margin-right: auto" id="billStockType" formControlName="billStockType" [ngClass]="{
            'is-invalid':
            billStockType.errors &&
            billStockType.touched
          }" (change)="worker.enable()">
            <option value="" selected disabled>اختر نوع الفاتورة</option>
            <option value="0">فاتورة ايداع</option>
            <option value="1">فاتورة سحب</option>
          </select>
              </div>
              <div class="custom-control form-group mt-2 col-4">
                  <label for="worker " class="mb-2">اسم العامل</label>
                  <input class="col-2 form-control mt-2 text-center" style="width: 70%; margin-left: auto; margin-right: auto" class="form-control" list="workers" (keyup)="searchForWorker($event)" id="worker" formControlName="worker" placeholder="ادخل اسم العميل"
                      [ngClass]="{
            'is-invalid':
            worker.errors &&
            worker.touched
          }">
                  <datalist id="workers">
                    <option style="text-align: right;" *ngFor="let worker of workers">{{worker.worker}}</option>
                  </datalist>
              </div>
          </div>
          <button type="submit" class="new-button btn btn-success col-6" style="width: 100%" [disabled]="stockItemForm.invalid || stockItemForm.disabled">
      عرض الفاتورة
    </button>
      </form>
      <div *ngIf="rowData">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <ag-grid-angular #agGrid style="width: 666px; height: 400px; margin-top: 5px" class="ag-theme-alpine" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [getRowNodeId]="getRowNodeId" [enableRtl]="true">
              </ag-grid-angular>
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
</div>

<app-detail-stock-bill *ngIf="open && stockBill" [stockBill]="stockBill" (openDetailstockBill)="openEvent($event)" (stockBillEdit)="EditStockBillEvent($event)"></app-detail-stock-bill>