* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

*:focus {
  outline: 0;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal .modal-content {
  background-color: #0f271a;
  padding: 20px;
  border: 1px solid #0f271a;
  width: 40%;
  position: absolute;
  top: 15%;
  left: 30%;
}

.modal-content h2 {
  color: rgb(184, 184, 184);
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
}

.modal-content .icon {
  color: rgb(184, 184, 184);
  font-size: 18px;
  float: right;
  padding: 10px;
  position: fixed;
  width: 40px;
}

i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form-group label {
  color: rgb(184, 184, 184);
  margin-bottom: 10px;
}

.form-group .input-new-item {
  padding: 5px 15px;
}

.buttons-modal {
  margin-top: 25px;
}

.btn {
  font-weight: bold;
  width: 30%;
  padding: 5px;
}

.btn:nth-child(2) {
  margin-right: 5px;
}

.closing-btn {
  background-color: rgb(224, 91, 91);
  color: rgb(255, 255, 255);
}
