<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <i class="fas icon fa-times" (click)="setOpenEvent(false)"></i>

                <h2 class="text-center text-align:right">إضافة وحدة قياس جديدة</h2>

                <form [formGroup]="unitForm" (ngSubmit)="onSubmit()">

                    <div class="form-group mt-2 col-12">
                        <label for="name">نوع الوِحدة</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="إسم الوحدة المُراد إضافتُها" 
                        [ngClass]="{'is-invalid': unitForm.get('name').errors && unitForm.get('name').touched}"/>
                    </div>

                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn text-center btn-success m-2" [disabled]="unitForm.errors || !unitForm.touched">إضافة</button>
                        <button type="button" class="btn text-center btn-danger" (click)="setOpenEvent(false)">غلق</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>

</div>