<body>

  <section class="container slideInRight sec-add-item">

    <h3>إضافة صنف جديد</h3>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

      <div class="form-group in-name-item flex-col">
        <input id="input-1" type="text" class="form-control" formControlName="name"
          [ngClass]="{ 'is-invalid': name.errors && name.touched }" autocomplete="off" />
        <label for="input-1">أدْخِل اسمَ الصنف:</label>
      </div>

      <div *ngIf="name.touched && name.errors">
        <div class="error" *ngIf="name.errors.required" (click)="name.reset()">
          <p>قُمْ بإدخال إسم الصنف رجاءً</p>
        </div>
        <div class="error" *ngIf="name.errors.maxlength || name.errors.minlength" (click)="name.reset()">
          <p>الإسم الذي أدخلته غيرُ صحيح</p>
        </div>
        
      </div>
      <div class="error" *ngIf="itemForm.errors?.exist" (click)="name.reset()">
        <p>الصنف موجود بالفعل</p>
      </div>

      <div class="form-group flex-col">
        <input id="input-2" type="number" class="form-control" minlength="1" formControlName="price"
          [ngClass]="{ 'is-invalid': price.errors && price.touched }" autocomplete="off" />
        <label for="input-2">سعر الصنف:</label>
      </div>

      <div *ngIf="price.touched && price.errors">
        <div class="error" *ngIf="price.errors.required" (click)="price.reset()">
          <p>قُمْ بإدخال سعر الصنف بصورة صحيحة</p>
        </div>
        <div class="error" *ngIf="price.errors.min || price.errors.max" (click)="price.reset()">
          <p>سعر الصنف غير صحيح</p>
        </div>
      </div>

      <div class="form-group input-group flex-col custom-flex">
        <select id="input-3" class="form-control custom-select item" formControlName="unit"
          [ngClass]="{ 'is-invalid': unit.errors && unit.touched }">
          <option value="" disabled selected>أدخِل وحدة القياس</option>
          <option *ngFor="let unit of units" [value]="unit.id">
            {{unit.name}}
          </option>
        </select>

        <i class="fas fa-plus fa-2x addIcon" (click)="setOpen(true)"></i>
      </div>

      <div *ngIf="unit.touched && unit.errors">
        <div class="error" *ngIf="unit.errors.required" (click)="unit.reset()">
          <p>قُمْ بإدخال وحدة القياس</p>
        </div>
        <div class="error" *ngIf="unit.errors?.exist" (click)="unit.reset()">
          <p>وحدة القياس غيرُ موجودة، فبرجاء إضافتها أولًا</p>
        </div>
      </div>

      <button type="submit" [disabled]="itemForm.invalid" class="btn form-control">حفظُ
        الإضافة</button>
    </form>
  </section>

  <app-add-unit *ngIf="open" [units]="units" (openEvent)="setOpen($event)" (unitEvent)="setUnit($event)">
  </app-add-unit>

</body>
