<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div id="myModalُ" class="modal">
            <div class="modal-content">
                <i class="fas icon fa-times" (click)="setOpenEvent(false)"></i>

                <h2 class="text-center text-align:right">إضافة مصروفات جديدة</h2>
                <ag-grid-angular #agGrid style="width: 97%; height: 300px;" class="ag-theme-alpine" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [getRowNodeId]="getRowNodeId" [enableRtl]="true">
                </ag-grid-angular>
                <form [formGroup]="expensesForm" (ngSubmit)="onSubmit()">

                    <div class="form-group mt-2 col-4">
                        <label for="paid">دفعة الاموال</label>
                        <input type="number" class="form-control" formControlName="paid" placeholder="ادخل الأموال" [ngClass]="{ 'is-invalid': expensesForm.get('paid').errors && expensesForm.get('paid').touched }" />
                        <label for="reason">سبب الدفع </label>
                        <input type="text" class="form-control" formControlName="reason" placeholder="سبب الدفع" [ngClass]="{ 'is-invalid': expensesForm.get('reason').errors && expensesForm.get('reason').touched }" />
                    </div>

                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn text-center btn-success col-4" [disabled]="expensesForm.errors && expensesForm.touched">إضافة</button>
                        <button type="button" class="btn text-center btn-danger col-4" (click)="setOpenEvent(false)">غلق</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>

</div>