<body>
  <section class="container">

    <h2>سجل شهري</h2>

    <form (ngSubmit)="getDayData()" class="form-group" [formGroup]="formDay">
      <label for="this-day">اليوم</label>
      <input id="this-day" type="date" class="my-day form-control" formControlName="day" />
      <button type="submit" class="btn btn-success ">عرض</button>
    </form>

    <ag-grid-angular #agGrid class="ag-theme-alpine" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
      [rowData]="rowData" [enableRtl]="true">
    </ag-grid-angular>
  </section>

</body>
